* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .85rem;
  user-select: none;
  letter-spacing: .5px;
}

hr {
  width: 100%;
  opacity: .15;
  margin: 0
}
h5 {
  margin:0;
  margin-bottom: .5rem;
}

select {
  background-color: #222;
  border: 0;
  color: #aaa;
}
label {
  margin-right: .5rem;
  color: rgb(196, 126, 56)
}
input {
  padding: 1px 4px;
  margin:0;
  vertical-align: middle;
  color: #aaa;
  max-width: 50px;
  background-color: rgba(255,255,255,.15);
  border: 0;
  accent-color: rgb(210, 107, 4);
}
button {
  background-color: rgb(210, 107, 4);
  color: #fff;
  border: 0;
  opacity: .7;
  cursor: pointer;
  transition: opacity .3s;
}
button:hover {
  opacity: .85;
}

body {
  background: #101018;
  margin: 0;
  overflow: hidden;
}
.options-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display:flex;
  transition: margin 0.3s ease;
  margin-right: -240px
}
.options-wrapper.expanded {
  margin-right: 0
}

.options {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;

  width: 240px;
  background-color: rgba(0,0,0,.8);
}

.option-group {
  background-color: rgba(255,255,255,.05);
  padding: .75rem
}
.option-group-items {
  display: flex;
  flex-direction: column;
  gap:.75rem;
  padding: .5rem;
  background: rgba(0,0,0,.35)
}

.option {
  display: flex;
  justify-content: space-between;
}

.options-wrapper .handle button {
  background-color: rgb(210, 107, 4);
  width: 2rem;
  height: 2rem;
  opacity: .4;
  font-size: 1.5rem;
}

.options-wrapper.expanded .handle button {
  opacity: .65;
}
.options-wrapper .handle button:hover {
  opacity: .85;
}