* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .85rem;
  user-select: none;
  letter-spacing: .5px;
}

hr {
  width: 100%;
  opacity: .3;
  color: #000 !important;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgb(210, 107, 4) !important;
  border-bottom: 1px solid rgba(210, 107, 4, .5) !important;
  /* margin: 0 */
}
h5 {
  margin:0;
  /* margin-bottom: .5rem; */
}

select {
  padding: 2px 6px;
  background-color: #222;
  border: 0;
  color: #aaa;
}
label {
  margin-right: .5rem;
  color: rgb(196, 126, 56)
}
input {
  padding: 1px 4px;
  margin:0;
  vertical-align: middle;
  color: #aaa;
  max-width: 50px;
  background-color: rgba(255,255,255,.15);
  border: 0;
  accent-color: rgb(210, 107, 4);
}
input[type="number"], select {
  border-radius: 2px;
}
button {
  padding: .35rem .5rem;
  background-color: rgb(210, 107, 4);
  color: #fff;
  border: 0;
  opacity: .7;
  cursor: pointer;
  transition: opacity .3s;
}
button:hover {
  opacity: .85;
}

body {
  background: #05090e;
  margin: 0;
  overflow: hidden;
}
.options-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display:flex;
  transition: margin 0.25s ease;
  margin-right: -240px
}
.options-wrapper .buttons {
  display:flex;
  flex-direction: column;
  gap: .5rem;
}
.options-wrapper.expanded {
  margin-right: 0
}

.options {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;

  width: 240px;
  max-height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,.9);
  border-radius: 0 0 0 3px;
}

.options button {
  border-radius: 3px;
}

.option-group {
  background-color: rgba(255,255,255,.05);
  padding: .75rem;
  border-radius: 3px;
}
.option-group-items {
  display: flex;
  flex-direction: column;
  gap:.75rem;
  padding: .5rem;
  background: rgba(0,0,0,.35);
  border-radius: 3px;
}

.option {
  display: flex;
  justify-content: space-between;
}

.options-wrapper .handle button {
  margin-top: .75rem;
  padding: 0;
  background-color: rgb(210, 107, 4);
  width: 2rem;
  height: 2rem;
  opacity: .4;
  font-size: 1.5rem;
  border-radius: 3px 0 0 3px;
}

.options-wrapper.expanded .handle button {
  opacity: .65;
}
.options-wrapper .handle button:hover {
  opacity: .85;
}